/********** Template CSS **********/
:root {
    --primary: #28a745;
    --light: #f3f6f8;
    --dark: #0e2e50;
}

body {
    margin: 0px;
}

/*** Navbar ***/
.navbar {
    background: var(--primary);
    padding-block: 0.8rem;
}

.navbar img {
    max-height: 50px;
    transition: 0.5s;
}

form.form {
    max-width: 600px;
    margin: auto;
}

.header {
    max-width: 600px;
    margin: auto;
}

.hide {
    display: none;
}

/* Styles for mobile devices */
@media only screen and (max-width: 600px) {
}
